@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.AlumaText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 60px;
  color: #00388c; /* was #0c8d48 */
}

.SalonText {
  position: relative; /* was absolute */
  width: 900px;
  height: 23px;
  left: 870px;
  top: 160px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 23px;

  color: #00388c;
}

.DiscountText {
  position: relative; /* was absolute */
  width: 346px;
  height: 24px;
  left: 202px;
  top: 331px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #1d4ed8; /* was #01aa4f */
}

.Line {
  position: relative; /* was absolute */
  width: 80px;
  height: 0px;
  left: 107px;
  top: 342px;

  border: 3px solid #000000;
}

.Name {
  position: relative; /* was absolute */
  width: 43px;
  height: 21px;
  left: 107px;
  top: 422px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.NameBox {
  box-sizing: border-box;

  position: relative; /* was absolute */
  width: 245px;
  height: 48px;
  left: 107px;
  top: 457px;

  background: #fafdff;
  border: 1px solid #e8e8e8;
  border-radius: 6px; /* was 10px */
  outline: none;
}

.NameBox::placeholder {
  padding-left: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #000000;
  opacity: 0.4;
}

.NameBox[type='text'] {
  text-indent: 5px;
  font-family: 'Poppins';
}

.Email {
  position: relative; /* was absolute */
  width: 38px;
  height: 21px;
  left: 366px;
  top: 417px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.EmailBox {
  box-sizing: border-box;

  position: relative; /* was absolute */
  width: 245px;
  height: 48px;
  left: 366px;
  top: 457px;

  background: #fafdff;
  border: 1px solid #e8e8e8;
  border-radius: 6px; /* was 10px */
  outline: none;
}

.EmailBox::placeholder {
  padding-left: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #000000;
  opacity: 0.4;
}

.EmailBox[type='text'] {
  text-indent: 5px;
  font-family: 'Poppins';
}

.Message {
  position: relative; /* was absolute */
  width: 63px;
  height: 21px;
  left: 107px;
  top: 531px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.MessageBox {
  box-sizing: border-box;

  position: relative; /* was absolute */
  width: 504px;
  height: 48px;
  left: 107px;
  top: 566px;

  background: #fafdff;
  border: 1px solid #e8e8e8;
  border-radius: 6px; /* was 10px */
  outline: none;
}

.MessageBox[type='text'] {
  text-indent: 5px;
  font-family: 'Poppins';
}

.Arrow {
  position: relative; /* was absolute */
  left: 135px;
  top: 720px;
  width: 20px;
  height: 20px;
  background: none;
  pointer-events: none;
}

.ContinueButton {
  position: relative; /* was absolute */
  width: 80px;
  height: 80px;
  left: 107px;
  top: 692px;

  background: rgba(37, 99, 235, 0.68); /* was rgba(74, 194, 44, 0.68) */
  box-shadow: 0px 10px 30px #bfdbfe; /* adjusted to blue-ish */
  border-radius: 20px; /* was 35px */
  outline: none !important;
  border: none;
  transition: all 0.5s ease;
}

.ContinueButton:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.ContinueButton:active {
  transform: scale(0.9);
  transition: all 0.2s ease;
}

.PartnerButton {
  position: relative; /* was absolute */
  width: 174px;
  height: 64px;
  left: 905px;
  top: 311px;

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 20px 50px rgba(55, 69, 87, 0.1);
  border-radius: 14px; /* was 24px */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;

  color: #1d4ed8; /* was #01aa4f */

  outline: none !important;
  border: none;
  transition: all 0.5s ease;
}

.PartnerButton:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.PartnerButton:active {
  transform: scale(0.9);
  transition: all 0.2s ease;
}

.ConsumerButton {
  position: relative; /* was absolute */
  width: 202px;
  height: 64px;
  left: 1135px;
  top: 311px;

  background: #1d4ed8; /* was #01aa4f */
  box-shadow: 0px 20px 50px rgba(55, 69, 87, 0.1);
  border-radius: 14px; /* was 24px */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;

  color: #ffffff;

  outline: none !important;
  border: none;
  transition: all 0.5s ease;
}

.ConsumerButton:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.ConsumerButton:active {
  transform: scale(0.9);
  transition: all 0.2s ease;
}
